body {
  text-align: center;
  background-color: rgb(91, 30, 233);
  font-size: large;
}
h1 {
  color: rgb(101, 180, 255);
}
/*                                       BOTONES */
.btn-lg {
  border: solid black 1.5px;
  transition-duration: 0.3s;
  background-color: grey;
}
.btn-lg:hover {
  background-color: rgb(182, 220, 242);
  transform: scale(1.1);
}
.btn-lg:active {
  opacity: 0.7;
  transform: scale(1);
}
/*                                        BOTONERA NUMEROS */
.central-numbers {
  padding-right: 0;
}
.number {
  margin: 2px 2px 4px;
}
/* .number0 { */
/* width: 30%; */
/* padding: 2px 25px;
} */
/*                                        BOTONERA BOTONES ESPECIALES */
.signaler {
  margin: 2px 2px 4px;
  /* max-width: 7px; */
  /* padding: 7px; */
}
.signaler-div {
  padding-left: 0;
  /* position: relative;
  top: -9rem;
  left: 19rem;
  height: 144px; */
}
/*                                        VISOR */
.container-visor {
  background-color: rgb(182, 220, 242);
  max-width: 17rem;
  min-width: 8.5rem;
  height: 60px;
  border: solid black 1.5px;
}
p {
  margin-bottom: 10px;
}
